php_value short_open_tag 1
php_value auto_prepend_file ./_init.php
php_value auto_append_file ./_footer.php

AddHandler php5-script .html .php .rss

DirectoryIndex news.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-z/-]*)$ $1.html [L]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^_|\.php$|\.sql$|\.md$|\.ini$|\.xcf$ . [R=404,L]