php_value short_open_tag 1
php_value auto_prepend_file ./_header.php
php_value auto_append_file ./_footer.php

AddHandler php5-script .html .php .rss

DirectoryIndex news.html

<FilesMatch "^_|\.php$|\.sql$|\.md$">
    Order allow,deny
    Deny from all
    Satisfy All
</FilesMatch>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[a-z])$ $1.html