php_value short_open_tag 1
AddType application/x-httpd-php .html .php

DirectoryIndex main.php

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . main.php