@import url(http://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: Quicksand-Regular; 
    src: url('ui/font/Quicksand-Regular.otf');
}
address, p, li, dt, dd {
    line-height:1.35;
    margin:0.5em 0; 
    text-align:justify;
}
dt {
    font-weight:bold;
}
p.center {
    text-align:center;
}
form p {
    text-align:center;
}
hr {
    border:1px solid #eee;
    margin:1em 10px;
}
input, select {
    border:1px solid #eee;
    border-radius:4px;
    font-size:16px;
    margin:0px;
    outline:0;
    padding:4px;
}
input[type="image"] {
    border:0;
}
button {
    font-size:14px;
}
input:focus, select:focus {
    border-color:#ce1f2c;
}
html {
    background-color:#eee;
}
body {
    background-attachment:fixed;
    background-image:url('img/bg-roster.jpg');
    background-position:center 40px;
    background-repeat:no-repeat;
    font-family:Lato, sans-serif;
    margin:0;
    padding-top:350px;
}
body.news {
    background-image:url('img/bg-news.jpg');
}
body.sponsors {
    background-image:url('img/bg-sponsors.jpg');
}
body.venue {
    background-image:url('img/bg-venue.jpg');
}
body.schedule {
    background-image:url('img/bg-schedule.jpg');
}

body>header {
    background-attachment:fixed;
    background-color:#eee;
    background-image:inherit;
    background-position:center 40px;
    background-repeat:no-repeat;
    height:90px;
    left:0px;
    position:fixed;
    right:0px;
    top:0px;
    z-index:3;
}
body>header>nav {
    background-image:url('img/nav-bg.png');
    border-top:2px solid black;
    border-bottom:2px solid black;
    height:56px;
    margin-top:30px;
}
body>header>nav>div {
    margin:0 auto;
    position:relative;
    width:1000px;
}
body>header>nav>div>img {
    display:block;
    height:90px;
    position:absolute;
    top:-20px;
    width:90px;
}
body>header>nav ul {
    list-style-type:none;
    height:56px;
    margin:0 auto;
    padding-left:100px;
    width:1000px;
}
body>header>nav li {
    font-size:22px;
    font-weight:bold;
    float:left;
    height:56px;
    margin:0;
}
body>header>nav li a {
    color:#eee;
    line-height:56px;
    margin:0 12px;
    text-decoration:none;
    text-transform:uppercase;
}
body>header>nav li a:hover {
    text-decoration:underline;
}
body > footer {
    color:#222;
    font-size:13px;
    margin:20px auto;
    width:1000px;
}
body > footer p {
    text-align:center;
}
#content {
    background:white url('img/logo-bg.jpg') no-repeat right bottom;
    border-bottom:4px solid #ce1f2c;
    border-top:4px solid #ce1f2c;
    box-shadow:0 0 8px rgba(0,0,0,.6);
    font-size:16px;
    margin:0 auto;
    padding:10px 20px 20px 20px;
    width:960px;
}
main {
    width:630px;
}
#content:after,
main:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
main>header {
    background-color:white;
    border-left:10px solid #ce1f2c;
    margin:0 0 20px -20px;
    padding-left:10px;
}
main>header h1+h2:before {
    content:"\A0\BB\A0";
}
main > section, main > table, main > ul, main > article, main > div {
    margin-top:20px;
}
main figure {
    background-color:#f6f6f6;
    border:1px solid #f6f6f6;
    margin:10px;
    padding:1px;
}
main figure.right {
    float:right;
    margin-right:0;
    width:301px;
}
main figure.left {
    float:left;
    margin-left:0;
    width:301px;
}
main figure img {
    width:100%;
}
main figure figcaption {
    color:#444;
    font-size:0.75em;
    margin:1px 2px 3px 2px;
    text-align:center;
}
main nav ul {
    list-style-type:square;
    padding:0;
}
main nav ul li {
    float:left;
    margin:0.25em 0 0.25em 40px;
    width:255px;
}
main nav ul:after {
    clear: left;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
header>h1, header>h2, header>h3 {
    display:inline;
}
h1, h2, h3, h4 {
    color:#444;
    font-family:Quicksand-Regular;
    margin:0;
}
*+h1, *+h2, *+h3, *+h4 {
    margin-top:20px;
}
h5, h6 {
    margin:0;
}
h1 {
    font-size:2.5em;
}
h2 {
    font-size:2em;
}
h3 {
    font-size:1.5em;
}
h4 {
    font-size:1.25em;
}
h5 {
    font-size:1em;
}
h6 {
    font-size:0.875em;
}
a {
    color:#ce1f2c;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}
article.full time {
    color:#444;
    float:right;
    text-transform:uppercase;
}
article.full p.category {
    color:#ce1f2c;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}
article.full p.category:before {
    content:"\00bb  ";
}
article.full h1 {
    margin:0;
}
article.news-item {
    background-color:#f6f6f6;
    height:174px
}
article.news-item figure {
    border:0;
    float:left;
    height:174px;
    margin:0 10px 0 0;
    overflow:hidden;
    text-align:center;
    width:310px;
}
article.news-item figure img {
    height:174px;
}
article.news-item time {
    color:#444;
    float:right;
    font-size:0.875em;
    display:block;
}
article.news-item header {
    margin:0 10px;
    padding-top:5px;
}
article.news-item h4 {
    margin-top:5px;
}
article.news-item p.category {
    color:#444;
    font-size:0.875em;
    line-height:normal;
    margin:0;
}
article.news-item p.category:before {
    content:"\00bb  ";
}
article.news-item p.synopsis {
    margin:5px 10px;
}
article.news-item:nth-of-type(even) figure {
    float:right;
    margin:0 0 0 10px;
}

section.contrast {
    background-color:#f6f6f6;
    border:2px solid white;
    margin:22px 2px 2px 2px;
    outline:2px solid #f6f6f6;
    padding:10px;
}
main section.contrast {
    margin-top:32px;
}
aside ul.contacts {
    list-style-type:none;
    padding:0;
}
aside ul.contacts li {
    margin:0;
}
aside ul.contacts li > * {
    margin:4px 20px 4px 18px;
}
aside ul.contacts li + li {
    margin-top:16px;
}
main ul.contacts {
    list-style-type:none;
    padding:0;
}
main ul.contacts li {
    height:102px;
    float:left;
    margin:0;
    width:310px;
}
main ul.contacts li + li + li {
    margin-top:10px;
}
main ul.contacts li:nth-of-type(even) {
    margin-left:10px;
}
main ul.contacts li > * {
    margin:0.25em 0;
}


ul.roster {
    list-style-type:none;
    padding:0;
}
ul.roster li {
    border:1px solid #eee;
    float:left;
    height:80px;
    margin:0;
    padding:4px 4px 4px 89px;
    position:relative;
    width:215px;
}
ul.roster li:nth-child(even) {
    margin-left:10px;
}
ul.roster li + li + li {
    margin-top:10px;
}
ul.roster img {
    border:0;
    height:80px;
    left:5px;
    position:absolute;
    top:5px;
    width:80px;
}
ul.roster p {
    font-size:0.875em;
    margin:0px;
}
aside#sidebar {
    float:right;
    width:310px;
}
aside#sidebar section:not(.contrast) {
    border-left:2px solid #eee;
    margin-top:20px;
}
aside#sidebar header {
    border-left:8px solid #eee;
    padding-left:10px;
}
#social {
    height:50px;
    margin:-5px 0 5px 0;
}
#social div {
    background-color:white;
    height:40px;
    width:300px;
    padding:5px;
    text-align:center;
}
#social.sticky div {
    box-shadow:0px 6px 5px -5px #aaa;
    position:fixed;
    top:90px;
}

article.sponsor:after {
    clear: left;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
article.sponsor + article.sponsor {
    margin-top:30px;
}

article.feed {
    background-color:#f6f6f6;
    background-image:linear-gradient(to bottom, #fff, #eee);
    box-shadow:0px 0px 6px rgba(0,0,0,.4);
    float:left;
    height:270px;
    margin:10px 5px;
    width:330px;
}
article.feed:hover {
    box-shadow:0px 0px 6px rgba(0,0,0,.6);
    cursor:pointer;
}
article.feed img {
    height:141px;
    width:330px;
}
article.feed h1 {
    font-size:16px;
    margin:5px;
}
article.feed h1 a {
    color:#ce1f2c;
    text-decoration:none;
}
article.feed:hover h1 a {
    color:#ce1f2c;
    text-decoration:underline;
}
article.feed p {
    color:#444;
    font-size:16px;
    margin:5px;
}
table.schedule {
    border-collapse:collapse;
    width:630px;
}
table.schedule tr {
    border-bottom:1px solid #eee;
    height:52px;
}
table.schedule .date {
    color:#444;
    font-size:12px;
    width:100px;
}
table.schedule .img {
    width:52px;
}
table.schedule .img img {
    height:48px;
    width:48px;
}
table.schedule .opp.away:before {
    content:"@ ";
}
table.schedule .result {
    text-align:center;
}
ul.content {
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.content li {
    background-color:#f6f6f6;
    box-shadow:0px 0px 6px rgba(0,0,0,.4);
    margin:5px;
}
img.sponsor-logo {
    border:1px solid #eee;
    margin-left:10px;
    padding:1px;
    float:right;
}
section.venue+section.venue {
    margin-top:30px;
}
.venue-type {
    color:#ce1f2c;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}
.venue-type:before {
    content:"\00bb  ";
}
section.venue h1 {
    color:#333;
    margin:0;
}
.venue-address {
    font-size:12px;
    margin:0;
}
iframe.venue-map {
    border:1px solid #eee;
    display:block;
    margin:10px auto;
    padding:2px;
}
table.roster {
    border-collapse:collapse;
}
table.roster td {
    border-top:1px solid #eee;
    font-size:14px;
    height:32px;
}


