@import url(http://fonts.googleapis.com/css?family=Lato);
@font-face {
    font-family: Quicksand-Regular; 
    src: url('ui/font/Quicksand-Regular.otf');
}

html {
    background-color:#eee;
}
body {
    background-attachment:fixed;
    background-image:url('img/bg-roster.jpg');
    background-position:center 40px;
    background-repeat:no-repeat;
    font-family:Lato, sans-serif;
    margin:0;
    padding-top:350px;
}
body.news {
    background-image:url('img/bg-news.jpg');
}
body.sponsors {
    background-image:url('img/bg-sponsors.jpg');
}
body.venue {
    background-image:url('img/bg-venue.jpg');
}
body.schedule {
    background-image:url('img/bg-schedule.jpg');
}

body>header {
    background-attachment:fixed;
    background-color:#eee;
    background-image:inherit;
    background-position:center 40px;
    background-repeat:no-repeat;
    height:90px;
    left:0px;
    position:fixed;
    right:0px;
    top:0px;
    z-index:3;
}
body>header>nav {
    background-image:url('img/nav-bg.png');
    border-top:2px solid black;
    border-bottom:2px solid black;
    height:56px;
    margin-top:30px;
}
body>header>nav>div {
    margin:0 auto;
    position:relative;
    width:1000px;
}
body>header>nav>div>img {
    background-color:black;
    border:3px solid black;
    border-radius:48px;
    display:block;
    height:90px;
    position:absolute;
    top:-20px;
    width:90px;
}
body>header>nav ul {
    list-style-type:none;
    height:62px;
    margin:0 auto;
    padding-left:100px;
    width:1000px;
}
body>header>nav li {
    font-size:24px;
    font-weight:bold;
    float:left;
    height:62px;
}
body>header>nav li a {
    color:#eee;
    line-height:62px;
    margin:0 12px;
    text-decoration:none;
    text-transform:uppercase;
}
body>header>nav li a:hover {
    text-decoration:underline;
}
#content {
    background:white url('img/logo-bg.jpg') no-repeat right bottom;
    border-bottom:4px solid #ce1f2c;
    border-top:4px solid #ce1f2c;
    box-shadow:0 0 8px rgba(0,0,0,.6);
    font-size:16px;
    margin:0 auto;
    padding:10px;
    width:990px;
}
main {
    width:650px;
}
#content:after,
main:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
aside {
    float:right;
    width:320px;
}
main>header {
    margin-bottom:20px;
}
main > * {
    margin-top:20px;
}
h1, h2, h3, h4 {
    color:#444;
    font-family:Quicksand-Regular;
    margin:0;
}
h5, h6 {
    margin:0;
}
h1 {
    background-color:white;
    border-left:10px solid #ce1f2c;
    font-size:40px;
    margin-left:-10px;
    padding-left:10px;
    /*background:url('img/logo2.png') no-repeat left center;*/
}
h2 {
    font-size:32px;
}
h3 {
    font-size:24px;
}
h4 {
    font-size:20px;
}
h5 {
    font-size:16px;
}
h6 {
    font-size:14px;
}
a {
    color:#ce1f2c;
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

article.news-item {
    background-color:#f6f6f6;
    height:180px
}
article.news-item figure {
    float:left;
    height:180px;
    margin:0 10px 0 0;
    overflow:hidden;
    text-align:center;
    width:320px;
}
article.news-item figure img {
    height:180px;
}
article.news-item time {
    color:#444;
    font-size:14px;
    display:block;
    margin:0 10px 5px 10px;
    padding-top:5px;
}
article.news-item h4 {
    margin:5px 10px;
}
article.news-item p {
    margin:5px 10px;
}
article.news-item:nth-of-type(even) figure {
    float:right;
    margin:0 0 0 10px;
}

section.dues {
    background-color:#f6f6f6;
    border:2px solid white;
    margin:32px 2px 22px 2px;
    outline:2px solid #f6f6f6;
    padding:10px;
}
aside section {
    border-left:2px solid #eee;
    margin-top:20px;
}
aside h2 {
    border-left:8px solid #eee;
    padding-left:10px;
}
.contact > * {
    margin:4px 20px 4px 18px;
}
.contact + .contact {
    margin-top:16px;
}
/* Old needs to be modified */

section > header > h1, .full-article>header h1 {
    color:#444;
    font-family:Quicksand-Regular;
    font-size:48px;
    margin:0px;
}
.full-article figure {
    margin:0px;
}
.full-article img {
    width:685px;
}
#social {
    background-color:white;
    width:310px;
    margin:0 0 5px 0;
    padding:5px;
    text-align:center;
}
#social.sticky {
    box-shadow:0px 6px 5px -5px #aaa;
    position:fixed;
    top:90px;
}
article.feed {
    background-color:#f6f6f6;
    background-image:linear-gradient(to bottom, #fff, #eee);
    box-shadow:0px 0px 6px rgba(0,0,0,.4);
    float:left;
    height:270px;
    margin:10px 5px;
    width:330px;
}
article.feed:hover {
    box-shadow:0px 0px 6px rgba(0,0,0,.6);
    cursor:pointer;
}
article.feed img {
    height:141px;
    width:330px;
}
article.feed h1 {
    font-size:16px;
    margin:5px;
}
article.feed h1 a {
    color:#ce1f2c;
    text-decoration:none;
}
article.feed:hover h1 a {
    color:#ce1f2c;
    text-decoration:underline;
}
article.feed p {
    color:#444;
    font-size:16px;
    margin:5px;
}
table.schedule {
    border-collapse:collapse;
    margin:5px;
    width:100%;
}
table.schedule tr {
    border-bottom:1px solid #eee;
}
.schedule .date {
    font-size:12px;
}
.schedule .opp.away:before {
    content:"@ ";
} 
ul.content {
    list-style-type:none;
    margin:0;
    padding:0;
}
ul.content li {
    background-color:#f6f6f6;
    box-shadow:0px 0px 6px rgba(0,0,0,.4);
    margin:5px;
}
div.sponsor {
    margin:20px 10px;
}
img.sponsor-logo {
    border:1px solid #eee;
    padding:1px;
    float:right;
}
.sponsor-about {
    font-size:16px;
}
section.venue {
    margin:20px 5px 40px 5px;
}
.venue-type {
    color:#ce1f2c;
    font-weight:bold;
    margin:0;
    text-transform:uppercase;
}
.venue-type:before {
    content:"\00bb  ";
}
section.venue h1 {
    color:#333;
    margin:0;
}
.venue-address {
    font-size:12px;
    margin:0;
}
iframe.venue-map {
    border:1px solid #eee;
    display:block;
    margin:10px auto;
    padding:2px;
}
table.roster {
    border-collapse:collapse;
}
table.roster td {
    border-top:1px solid #eee;
    font-size:14px;
    height:32px;
}
.player-card {
    border:1px solid #eee;
    float:left;
    height:80px;
    margin:5px;
    padding:5px 5px 5px 90px;
    position:relative;
    width:218px;
}
.player-card h2 {
    font-size:16px;
    margin:0;
}
.player-card img {
    border:0;
    height:80px;
    left:5px;
    position:absolute;
    top:5px;
    width:80px;
}
.player-card p {
    font-size:14px;
    margin:0px;
}
.player-card {

}
.player-card {

}




