# File modified on Fri Feb 21 14:00:39 2014 by server
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value auto_prepend_file ../inc/init.php
# For security reasons, mod_php is not used on this server. Use a php.ini file for php directives
# php_value auto_append_file ../inc/footer.php

DirectoryIndex index.html