<header>
    <h1>About</h1>
</header>
<? include "_nav.html" ?>
<h2>NOVA Rugby in the Community</h2>
<figure class="right">
    <img src="http://novarugby.com/old/annualfund/community1.jpg" alt="NOVA Rugby lending a hand at the Special Olympics at Catholic University.">
    <figcaption>NOVA Rugby lending a hand at the Special Olympics at Catholic University.</figcaption>
</figure>
<p> NOVA Rugby’s members have a three decade legacy of enhancing the Northern Virginia community in a variety of ways, from supporting the local economy, building
    successful small businesses and serving as executives in larger corporations. For more than a decade, dozens of NOVA alumni have volunteered countless hours to coach
    and mentor youth and high school rugby teams, offering values of discipline, sportsmanship and family to thousands of local young people.
<p> Yet in recent years, the NOVA family made significant efforts to donate time, effort and goods to support many other charitable organizations in the Metropolitan
    Washington area, well outside the athletic arena. During the past several holiday seasons, NOVA players have donated thousands of dollars worth of toys to support the
    United States Marine Corps “Toys for Tots” program. NOVA has given dozens of coats for Northern Virginia Winter Coat drive each year. In the wake of the horrific damage
    of Hurricane Katrina, NOVA contributed hundreds of dollars from a fall fundraiser to the Red Cross relief efforts. In 2005 and 2006, NOVA volunteers also served as race
    marshals during the charity Fair Lakes 8K, a road race designed to raise money to support the INOVA hospital’s Kellar Center, a non-profit organization which supports
    family mental health and substance abuse services.
<p> Here are a few kind words from Zach David, the race’s longtime Executive Director: &ldquo;This race would not be possible without the 200-plus volunteers that gather on race
    day and throughout the year to organize the event,&rdquo; David said. &ldquo;Thank you to NOVA rugby for all their help managing the race course and ensuring the safety of the
    runners.&rdquo;
<figure class="left">
    <img src="http://novarugby.com/old/annualfund/community2.jpg" alt="and Kevin Campbell at the Semi-Annual NOVA Rugby Blood drive.">
    <figcaption>Semi-Annual NOVA Rugby Blood drive.</figcaption>
</figure>
<p> Two years ago, men’s and women’s active players have taken this spirit of community to even higher levels with two new initiatives. In May, NOVA players provided some
    muscle to help the Washington Special Olympics D.C. Summer Games to move equipment and tents at their annual three day track meet.
<p> Twice annually NOVA takes on the literal tradition of the rugby phrase “Give Blood, Play Rugby” as we organize blood drives for the INOVA hospital network.  Dozens of
    players, coaches and administrators donate pints of blood to help this worthy cause at the start of our fall and spring seasons.
<p> In short, the NOVA family cares deeply for this community. And as an organization of hundreds, we are committed to doing our part off the field to improve the Northern
    Virginia area that we have called home for nearly 35 years.
<p> Please join us in helping NOVA’s campaign to best represent the Northern Virginia area.
<? include ROOT . '/view/_donate.html' ?>