<header>
    <h1>About</h1>
    <h2>NOVA Family Fund</h2>
</header>
<p> Competitive rugby in America has grown increasingly more professional and costly in the past decade, and made our old ways of
    doing business obsolete. The cost of playing top tier rugby, for adults or youth, is beyond the capacity of simply collecting
    player dues and hosting a carwash, in several specific areas.
<ul>
    <li><b>Field costs.</b> Our women’s and men’s practice field at Oakton will cost a minimum of $5,000 per year, and that price
        could rise. Recently, both adult teams briefly lost free use of Gravelly Point and were forced to pay about $300 per day
        for a pitch in Manassas. The NOVA u19s pay more than $6,000 for their spring season each year.
    <li><b>Coaching expenses.</b> Many adult clubs and collegiate programs nationwide now pay full-time salaries to coaches and
        each year more clubs move in that direction. Soon, it will become nearly impossible to hire quality coaches without a firm
        financial offer.
    <li><b>Travel expenses</b> On field success comes at a price: trips to National tournaments and select side camps.
</ul>
<p> These expenses are serious obstacles to overcome, and jeopardize NOVA’s future. But with your tax-deductible contribution to
    the NOVA Family Fund we can move into this new rugby world with bold initiative.
<h3>The NOVA Family Fund will provide:</h3>
<ul>
    <li><b>Field security.</b> These dollars will allow the club to form lasting public or private partnerships with local schools,
        governments or business entities to provide a long term home for our club.
    <li><b>Stipends and expenses for Coaches.</b> For years, NOVA had been fortunate enough to have quality coaches borne from our
        player ranks. But increasingly it has become too costly for those members to volunteer and the time has come to offer
        modest stipends for their efforts. In addition, to provide more quality leadership NOVA must pay for our coaches to attend
        high performance clinics.
    <li><b>Subsidized Travel and Expense for high-level competition.</b> This fund will help ease the costs for NOVA’s trips to
        participate in National competitions. These dollars also will support those players who strive for and achieve select-side
        status, or acceptance to high performance camps.
</ul>
<h3>The NOVA Family Fund WILL NOT replace:</h3>
<ul>
    <li>Each team will still collect dues and be responsible for funding their typical annual expenses (league and referee fees,
        parties, etc.) through our typical fundraising means.
</ul>
<p> The time has come for NOVA Rugby to mature as an organization, and with a minimum contribution of $100 annually, our rugby
    cluband our rugby family will do so.
<? include ROOT . '/view/_donate.html' ?>