<header>
    <h1>About</h1>
</header>
<figure class="top">
    <img src="http://novarugby.com/old/annualfund/main.jpg" style="display:block; margin:0px auto; width:100%;">
</figure>
<p> The Northern Virginia Rugby Club is making historic strides both on and off the rugby pitch, as we have expanded our reach to
    include a men&rsquo;s team, women&rsquo;s team, two high school squads and a pair of alumni groups into our happy family. Our goal is to
    achieve a simple mission: Six Teams, One Club.
<p> Our teams are succeeding on the field as the NOVA men have won four consecutive MARFU 7s titles, finished 2nd in 15s the past
    two seasons; our women won the 2009 National 7s competition and finished 2nd IN THE NATION in 15s; NOVA u19s won the first ever
    Virginia State Title in 2008 and West End finished 2nd in the state in 2009.
<p> But to continue this success and to achieve a new vision for the future, the NOVA Family needs your help with a tax deductible
    donation to our inaugural fundraising drive for the NOVA Family Fund. Right now, all of the NOVA teams need your help to reach
    new heights on the pitch and to create a vision that we all can be proud of for decades to come.
<? include "_donate.html" ?>